extends layout

block content
  .blue-text.text-darken-2
    .row
      form.col.s12(action="/new", method="post")
        .row
          .input-field
            input#new_title.validate(type="text", placeholder="Title", name="new_title")
        .row
          .input-field
            input#new_tags.validate(type="text", placeholder="Tags", name="new_tags")
        .row
          .input-field
            input#new_link.validate(type="text", placeholder="Link", name="new_link")
        .row
          button#new_save.btn.waves-effect.waves-light(type="submit") Save
            i.material-icons.right send
    if message
      p=message